body {
	background:url(../images/content.jpg) no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;

	font-family: 'Raleway', sans-serif;
	font-weight:300;
}
h1.NTT {
	font-size:50px;
	color:#fff;
	padding:40px 0;
	text-align:center;
	
	text-transform:uppercase;
}
.content-NTT {
	background-color:#202123;
	width:70%;
	margin:20px auto 50px;
	padding:0;
}
.content-NTT .content-agile1 {
    width: 50%;
    float: left;
    background: url(../images/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}
.content-NTT .content-agile2 {
	width: 50%;
    float: left;
	padding: 25px 0 0;
	/* background-color: rgb(190, 90, 90); */
	/* background-position: center;
    background-size: cover; */
    height: 375px;
	
}
h2{
    font-size:20px;
	color:#fff;
	
	text-align:center;
}

/* h2::before {
    counter-increment: section;
    content: "Section " counter(section) ": ";
  } */