
<!doctype html>
<html>
<head>
<title>Nhập thông tin SV </title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- css -->

<link href="css/style.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css -->
</head>
<body>
<h1 class="NTT">Login</h1>
<div class="content-NTT">
	<div class="content-agile1">
		<h2 class="agileits1">Official</h2>
		<!-- <p class="agileits2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
	</div>
	<div class="content-agile2">
		<form action="/login" method="POST" enctype="multipart/form-data">
			<div class="form-control one"> 
				<input type="text" class="form-control" placeholder="User Name" id="username" name="username">
			</div>

			<div class="form-control two">	
				<input type="password" class="form-control" placeholder="Password" id="password"name="password">
			</div>	
			
			<button type="submit" class="btn btn-primary">Login</button>
			<p>Don't have an Account?</p>
				<a href="/singin">Register an account</a>
		</form>

	</div>
	<div class="clear"></div>
</div>
 
</body>
</html>
                
                
           