
<!doctype html>
<html>
<head>
<title>Nhập thông tin user </title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- css -->

<link href="css/style.css" rel='stylesheet' type='text/css' media="all" />
<!-- /css -->
</head>
<body>
<h1 class="NTT">REGISTER</h1>
<div class="content-NTT">
	<div class="content-agile1">
		<h2 class="agileits1">Official</h2>
		<!-- <p class="agileits2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
	</div>
	<div class="content-agile2">
		<form action="/register" method="post">
			<div class="form-control one"> 
				<input type="text" id=" username" name=" username" placeholder="hoten" title="Nhập họ tên của bạn" required="">
			</div>

			<div class="form-control two">	
				<input type="email" id="email" name="email" placeholder="mail@example.com" title=" email thường dùng" required="">
			</div>

			<!-- <div class="form-control one">	
				
				<input type="radio" name="sex" value="male" checked>Nam
				
				<input type="radio" name="sex" value="female">Nữ
				<br>
			</div> -->
			
			<div class="form-control three">	
				<input type="date" id="ngaysinh" name="bday"   title="Hãy chọn ngày sinh của bạn"required=""max="2020-12-31"><br><br>
				
			</div>	

			
			
			<input type="submit" class="submit" value="submit">
		</form>

	</div>
	<div class="clear"></div>
</div>
 <!-- <p class="copyright w3l">© 2017 Official Signup Form. All Rights Reserved | Design by <a href="https://one.com/" target="_blank">one</a></p>  -->
</body>
</html>